# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# jest coverage
/coverage

# cypress
/e2e/*
!/e2e/specs
!/e2e/.eslintrc.js
!/e2e/tsconfig.json
!/e2e/setup.js

# IDEs
.idea

# test environment
/subgraphs
/archives
/data
/test-environment
/ganache

# hardhat
/cache
/artifacts

# Sentry
.sentryclirc
