.yarn/**/*       linguist-generated -diff
.pnp.cjs         text linguist-generated -diff
.pnp.loader.mjs  text linguist-generated -diff
yarn.lock        text linguist-generated -diff
*.lock           text linguist-generated -diff

# Archives
*.gz              binary
*.tar             binary
*.zip             binary

# Fonts
*.ttf             binary
*.eot             binary
*.otf             binary
*.woff            binary
*.woff2           binary